body
{
    margin:0px;
    font-family: 'Abyssinica SIL', serif;
   

}
#container
{

    margin-left:auto;
    margin-right:auto;
    height:1100px;
    overflow:hidden;
 
}
.clear
{
    clear:both;
}
.nav
{
    width:600px;
    height:150px;
    margin-top:17px;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
}
#logo
{
    text-align:center;
    letter-spacing:1px;
}
#logo p
{
    margin-top:-25px;
    margin-bottom:30px;
}
h1
{
    font-weight:500;
    font-size:42px;
}
h2
{
    position:relative;
    top:-30px;
    font-size:33px;
    letter-spacing:6px;
    color:#333333;
    text-align:center;
    
}
.wrapper
{
    width:325px;
    height:20px;
    opacity:1;
    margin-left:auto;
    margin-right:auto;
    margin-top:-20px;
}

.wrapper li
{
   float:left;
   letter-spacing:0px;
   list-style-type:none;
   margin-left:23px;
   font-weight:400;
   font-size:17px;
   text-align:center;
   opacity:1;
}
 
li a
{
    position:relative;
    text-decoration:none;
}
li a:after
{
    content:'';
    position:absolute;
    background-color:black;
    display:block;
    height:2px;
    width:0;
    left:0;
    bottom:0;
    
   
}
li a:hover::after
{
    width:100%;
    transition: width 0.3s linear;
}
a:link
{
    text-decoration:none;
    color:#808080;
}
a:visited
{
    color:#808080;
}
.social
{
    position:fixed;
    top:90px;
    right:20px;
    width:40px;
    height:70px;
}
.soc
{
    margin-bottom:10px;
}
.icon-instagram:hover
{
    text-decoration: none;
    opacity:0.7;
   
}

.icon-facebook:hover
{
    text-decoration: none;
    opacity:0.7;
}
#box
{
    width:1140px;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;

}
#zdj
{
    width:410px;
    overflow:hidden;
    position:relative;
    top:131px;
    
}
#zdj img
{
    width:410px;

}
#opis
{
    width:600px;
    height:900px;
    float:right;
    position:relative;
    top:-520px;
    font-size:20px;
}
.opis1
{
    margin-bottom:50px;
}
.opis2
{
    margin-bottom:50px;
}
h4
{
    font-size:22px;
    
}
.opis3 p
{
    margin-top:60px;
}
#border
{
    width:600px;
    margin-left:auto;
    margin-right:auto;
    border-bottom: solid 0.5px;
   position:relative;
   top:-460px;
    color:#000;
    opacity:0.8;
}
#border1
{
    width:600px;
    margin-left:auto;
    margin-right:auto;
    border-bottom: solid 0.5px;
   position:relative;
   top:-80px;
    color:#000;
    opacity:0.8;
}
#border2
{
    width:600px;
    margin-left:auto;
    margin-right:auto;
    border-bottom: solid 0.5px;
   position:relative;
   top:-190px;
    color:#000;
    opacity:0.8;
}

/*---------------------------------------------media only screen-------------------------------------------------*/

@media only screen and (max-width: 500px) {
    body
    {
        width:500px;
        margin:0px;
    }
#container
{
    width:500px;
   margin-left:auto;
   margin-right:auto;
   height:1900px;
   overflow:hidden;
}
 #box
 {
     margin-top:-60px;
     width:500px;
 }
 .nav
 {
     width:500px;
     height:300px;
     margin-top:17px;
     margin-left:auto;
     margin-right:auto;
     overflow:hidden;
 }
 #logo
 {
     text-align:center;
     letter-spacing:1px;

 }
 h1
 {
     font-weight:500;
     font-size:40px;
 }
 h2
 {
     position:relative;
     top:185px;
     font-size:33px;
     letter-spacing:6px;
     color:#333333;
     text-align:center;
     
 }
 .wrapper
 {
     width:325px;
     height:20px;
     opacity:1;
     margin-left:auto;
     margin-right:auto;
     margin-top:-20px;
 }

 .wrapper li
 {
    float:left;
    letter-spacing:0px;
    list-style-type:none;
    margin-left:23px;
    font-weight:400;
    font-size:17px;
    text-align:center;
    opacity:0.7;
 }
 .social
 {
     position:relative;
     top:-130px;
     left:430px;
     width:40px;
     height:70px;

 }
 #box
 {
     width:500px;
     margin-left:auto;
     margin-right:auto;
     overflow:hidden;

 }
 #zdj
 {
     width:500px;
     position:relative;
     top:0px;
     overflow:hidden;
 }
 #zdj img
 {
     width:500px;

 }
 #opis
 {
     width:456px;
     margin-left:auto;
     margin-right:auto;
     height:900px;
     float:none;
     position:relative;
     top:0px;
     font-size:20px;
     text-align:justify;

 }
 .opis1
 {
     margin-bottom:50px;
     width:450px;
 }
 .opis2
 {
     margin-bottom:50px;
     width:450px;
 }

 .opis3 p
 {
     margin-top:60px;
     width:450px;
 }
 h4
 {
     font-size:18px;
     
 }
 #border
 {
     width:450px;
     margin-left:auto;
     margin-right:auto;
     border-bottom: solid 0.5px;
    position:relative;
    top:-500px;
     color:#000;
     opacity:0.8;
 }
 #border1
 {
     width:450px;
     margin-left:auto;
     margin-right:auto;
     border-bottom: solid 0.5px;
    position:relative;
    top:-80px;
     color:#000;
     opacity:0.8;
 }
 #border2
 {
     width:450px;
     margin-left:auto;
     margin-right:auto;
     border-bottom: solid 0.5px;
    position:relative;
    top:-190px;
     color:#000;
     opacity:0.8;
 }
}
